av
accelerate
diffusers
einops
fvcore
gradio
gradio-client
imageio
matplotlib
numpy
omegaconf
opencv-python
pandas
pillow
pycocotools
pyyaml
psutil
peft
regex==2024.5.15
safetensors
scikit-image
scipy
timm
tokenizers
torch
torchaudio
torchmetrics
torchvision
tqdm
transformers
triton
cloudpickle
spaces
peft
sentencepiece
spaces
sacremoses
pyngrok
fastapi>=0.95.0
uvicorn>=0.21.1
python-multipart>=0.0.6
pillow>=9.5.0
numpy>=1.24.3
pydantic>=1.10.7
loguru>=0.7.0
opencv-python>=4.5.5.64

